<!DOCTYPE html>
<html lang="en">
    <head>
        {{ partial "header" . }}
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            {{ partial "navbar" . }}
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div>
                        <h1 id="main">{{ .Title }}</h1>
                        <p class="post-time">Posted by <strong>{{ .Params.author  }}</strong> on <strong>{{ .Date.Format "January 2, 2006" }}</strong></p>
                    </div>
                    {{ .Content }}
                </div>
            </div>
        </div>
    </body>
</html>
{{ partial "footer_js" . }}
